html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

input[type="text"], input[type="button"], input[type="submit"], input[type="email"] {
  -webkit-appearance: none; }

header {
  width: 100%;
  height: 50px;
  background: rgba(255, 25, 28, 0.7); }

h1 {
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 35px; }

.column {
  width: 1000px;
  height: 100%;
  margin: auto;
  line-height: 1.4em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }

section {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #f7f7f7; }
  section .column {
    color: black; }

#email_form {
  margin-top: 100px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 12px solid #7f94d1;
  border-radius: 15px;
  padding: 10px; }
  #email_form label {
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px; }
  #email_form li {
    margin: 6px; }
  #email_form textarea {
    width: 100%;
    outline: none; }
  #email_form input {
    width: auto;
    height: 20px;
    font-size: 18px; }
    #email_form input[type="submit"] {
      width: 100%;
      height: 45px;
      margin-top: 30px;
      color: white;
      font-size: 18px;
      outline: none;
      text-decoration: none;
      border-radius: 5px;
      border: 0px;
      background: #49bb99;
      cursor: pointer; }

footer {
  min-width: 100%;
  width: 100%;
  height: 120px;
  bottom: 0px;
  position: absolute;
  background-color: #7f94d1;
  padding-top: 10px; }
