{% extends "master.html" %}

{% block content %}
<div class="column">
    {{ message }}
    <form id="email_form" action="." method="POST">
        {% csrf_token %}
        <ul>
            <li>
                {% if form.sender.errors %} {{ form.sender.errors }}{% endif %}
                <label for="id_sender">From:</label> {{ form.sender }}
            </li>
            <li>
                {% if form.recipients.errors %} {{ form.recipients.errors }}{% endif %}
                <label for="id_to">To:</label> {{ form.recipients }}
            </li>
            <li>
                {% if form.cc.errors %} {{ form.cc.errors }}{% endif %}
                <label for="id_cc">CC:</label> {{ form.cc }}
            </li>
            <li>
                {% if form.subject.errors %} {{ form.subject.errors }}{% endif %}
                <label for="id_subject">Subject:</label> {{ form.subject }}
            </li>
            <li>
                {% if form.message.errors %} {{ form.message.errors }}{% endif %}
                 {{ form.message }}
            </li>
            <li>
                <input type="submit" value="Send">
            </li>
        </ul>
    </form>
</div>
{% endblock content %}