{% extends "master.html" %}

{% block content %}
<div class="column">
    <div class="box">
        <div class="text">
            This is code challange, written in the application process. <br>
            It's only option is to sent emails, using Mandrill and Mailgun as backends. <br>
            Please feel free to text and let me know about your opinion.
        </div>
        <div class="options">
            <a href="{% url "new_email" %}">Create Email</a>
        </div>

    </div>
</div>
{% endblock content %}