{% load staticfiles %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% block meta %}
            <title>Mailer</title>
        {% endblock meta %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex">
        <!--CSS block-->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
        <link rel="stylesheet" href="{% static "css/style.css" %}">

        {% block stylesheets %}
        
        {% endblock stylesheets %}

    </head>
    <body>

        <!-- Navigation bar -->
        <header>
            <h1>Email service code challenge</h1>
        </header>
        <!--Content block-->
        <section>
            {% block content %}

            {% endblock content %}
        </section>
        <!-- Footer -->
        <footer>
            FOOTER
        </footer>

    <!-- Script block -->
    {% block scripts %}
    {% endblock scripts %}
    </body>
</html>