@import "compass/reset";
@import "compass/css3";


$light_blue: rgb(127, 148, 209);
$light_green: rgb(73, 187, 153);


input[type="text"], input[type="button"], input[type="submit"]{
    -webkit-appearance: none;
}

header{
    width: 100%;
    height: 50px;
    background: rgba(255, 25, 28, 0.7);
}

h1{
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}

.column {
    width: 1000px;
    height: 100%;
    margin: auto;
    line-height: 1.4em;
    @include box-sizing(border-box);
    overflow: hidden;
    position: relative;
}

section{
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgb(247, 247, 247);
    .column{
        color: black;
    }
}

#email_form{
    margin-top: 100px;
    @include box-sizing(border-box);
    border: 12px solid $light_blue;
    border-radius: 15px;
    padding: 10px;
    label{
        display: inline-block;
        width: 100px;
        text-align: right;
        padding-right: 10px;
    }
    li{
        margin: 6px;
    }
    textarea{
        width: 100%;
        outline: none;
    }
    input{
        width: auto;
        height: 20px;
        font-size: 18px;
        &[type="submit"] {
            width: 100%;
            height: 45px;
            margin-top: 30px;
            color: white;
            font-size: 18px;
            outline: none;
            text-decoration: none;
            border-radius: 5px;
            border: 0px;
            background: $light_green;
            cursor: pointer;
        }
    }
}

footer{
    min-width: 100%;
    width: 100%;
    height: 120px;
    bottom: 0px;
    position: absolute;
    background-color: $light_blue;
    padding-top: 10px;
}