@import "compass/reset";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Lato);

$light_blue: rgb(127, 148, 209);
$light_green: rgb(73, 187, 153);
$light_gray: rgb(247, 247, 247);
$dark_gray: rgb(32, 32, 32);

body {
    min-height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $light_gray;
}

input[type="text"], input[type="button"], input[type="submit"], input[type="email"]{
    -webkit-appearance: none;
}

header{
    width: 100%;
    height: 50px;
    background: $light_blue;
}

h1{
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}

.column {
    width: 1000px;
    height: 100%;
    margin: auto;
    line-height: 1.4em;
    @include box-sizing(border-box);
    overflow: hidden;
    position: relative;
}

section{
    height: 100%;
    width: 100%;
    background: $light_gray;
    margin-bottom: 120px;
    .column{
        color: $dark_gray;
    }
}

.box{
    margin-top: 100px;
    @include box-sizing(border-box);
    border: 12px solid $light_blue;
    border-radius: 15px;
    padding: 10px;
}

#email_form{
    label{
        display: inline-block;
        width: 60px;
        text-align: right;
        padding-right: 10px;
    }
    li{
        margin: 10px;
    }
    textarea{
        width: 100%;
        outline: none;
    }
    input{
        width: 500px;
        height: 20px;
        font-size: 18px;
        outline: none;
        &[type="submit"] {
            width: 100%;
            height: 45px;
            margin-top: 30px;
            color: white;
            font-size: 18px;
            outline: none;
            text-decoration: none;
            border-radius: 5px;
            border: 0px;
            background: $light_green;
            cursor: pointer;
        }
    }
}

.options{
    text-align: center;
    width: 100%;
    display: inline-block;
    a{
        margin: 20px;
        display: inline-block;
        height: 100px;
        width: 200px;
        border-radius: 15px;
        background: $light_green;
        color: white;
        line-height: 100px;
        font-size: 24px;
        text-decoration: none;
        text-align: center;
        border: 2px solid $light_gray;
    }
}

.messages{
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

.hidden{
    display: none;
}

.controllers{
    height: 64px;
    line-height: 64px;
    &>li{
        display: inline-block;
        margin: 5px;
        height: 10px;
    }
    select{
        display: inline-block;
        height: 24px;
    }
}

.button{
    margin-top: 10px;
    height: 24px;
    width: 24px;
    border: 1px solid black;
    line-height: 32px;
    margin: 0px;
    cursor: pointer;
    &:hover{
        background: white;
    }
    &.bold{
        background: url(/static/img/font_bold.png) no-repeat;
        background-size: 20px;
        background-position: 2px 2px;
    }
    &.italic{
        background: url(/static/img/font_italic.png) no-repeat;
        background-size: 20px;
        background-position: 2px 2px;
    }
    &.underline{
        background: url(/static/img/font_underline.png) no-repeat;
        background-size: 20px;
        background-position: 2px 2px;
    }
}

.textarea{
    margin-top: 20px;
    width: 100%;
    background: white;
    min-height: 200px;
    border: 1px solid $dark_gray;
    border-radius: 5px;
    resize: auto;
}



footer{
    min-width: 100%;
    width: 100%;
    height: 120px;
    bottom: 0px;
    position: absolute;
    background-color: $light_blue;
    padding-top: 10px;
    color: white;
    font-size: 16px;
    padding: 20px;
    line-height: 1.5;
    @include box-sizing(border-box);
}