{% extends "master.html" %}

{% block content %}
<div class="column">
    <div class="box">
        <form id="user-form" method="POST">
            {% csrf_token %}
            <ul>
                <li>
                    {% if form.email.errors %} {{ form.email.errors }}{% endif %}
                    <label for="id_email">Email:</label> {{ form.email }}
                </li>
                <li>
                    {% if form.password.errors %} {{ form.password.errors }}{% endif %}
                    <label for="id_password">Password:</label> {{ form.password }}
                </li>
                <li>
                    {% if form.confirm_password.errors %} {{ form.confirm_password.errors }}{% endif %}
                    <label for="id_confirm_password">Confirm:</label> {{ form.confirm_password }}
                </li>
                <li>
                    <input type="submit" value="Login" class="green-button">
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock content %}